# Ignore compiled code
*.o

# Ignore output picture
*.png

# Ignore slurm outputs
*.out

# Ignore Fortran modules
*.mod

# Ignore netCDF output
*.nc

# Ignore pdfs
*.pdf

# Ignore executables
*.exe

# Ignore pycache folder
__pycache__
